# ignore everything,
# unless otherwise indicated below.
/*

# even if we white list a directory,
# we still don't ever want these.
*.DS_Store
*.dylib
*.jpeg
*.jpg
*.png
*.so
*.zwc

# whitelist
!/.Xdefaults
!/.Xresources
!/.ackrc
!/.bash_profile
!/.config
/.config/*
!/.config/alacritty
!/.config/atuin
!/.config/dunst
!/.config/kitty
!/.config/lf
!/.config/nixpkgs
!/.config/ranger
!/.config/sxhkd
!/.config/taffybar
!/.config/taffybar/taffybar.hs
!/.config/taffybar/taffybar.rc
!/.config/wezterm
!/.config/yazi
!/.config/zathura
!/.dircolors
!/.gdb
!/.gdb/**/*
!/.gdbinit
!/.gemrc
!/.ghci
!/.ghci.d
!/.git_template
!/.git_template/**/*
!/.gitexcludes
!/.gitignore
!/.gnupg
/.gnupg/*
!/.gnupg/dirmngr.conf
!/.gnupg/gpg.conf
!/.gnupg/gpg-agent.conf
!/.inputrc
!/.irbrc
!/.irssi
!/.mbsyncrc
!/.msmtprc
!/.nixpkgs
!/.notmuch-config
!/.pystartup
!/.tmux
!/.zim
/.zim/*.zsh*.old
/.zim/init.zsh*
!/.zlogin
!/.zprofile
!/.zsh
!/.zshenv
!/.zshrc
!/osx
