[submodule "vim/janus.symlink/slim"]
	path = vim/janus.symlink/slim
	url = https://github.com/bbommarito/vim-slim.git
	ignore = dirty
[submodule "vim/janus.symlink/copy-as-rtf"]
	path = vim/janus.symlink/copy-as-rtf
	url = https://github.com/aniero/vim-copy-as-rtf.git
	ignore = dirty
[submodule "vim/janus.symlink/grb256"]
	path = vim/janus.symlink/grb256
	url = https://github.com/cstrahan/grb256.git
	ignore = dirty
[submodule "vim/janus.symlink/ragtag"]
	path = vim/janus.symlink/ragtag
	url = https://github.com/tpope/vim-ragtag.git
	ignore = dirty
[submodule "vim/janus.symlink/tabular"]
	path = vim/janus.symlink/tabular
	url = https://github.com/godlygeek/tabular.git
	ignore = dirty
[submodule "vim/janus.symlink/zencoding"]
	path = vim/janus.symlink/zencoding
	url = https://github.com/mattn/zencoding-vim.git
	ignore = dirty
[submodule "vim/janus.symlink/powerline"]
	path = vim/janus.symlink/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
	ignore = dirty
[submodule "vim/janus.symlink/vim-io"]
	path = vim/janus.symlink/vim-io
	url = git://github.com/xhr/vim-io.git
	ignore = dirty
[submodule "vim/janus.symlink/VimClojure"]
	path = vim/janus.symlink/VimClojure
	url = git://github.com/vim-scripts/VimClojure.git
	ignore = dirty
