# vi: ft=gitconfig

[user]
	name = Charles Strahan
	email = charles@cstrahan.com
[core]
	fsmonitor = true
	untrackedcache = true
	pager = delta
[delta]
	plus-color = "#012800"
	minus-color = "#340001"
	syntax-theme = Monokai Extended
	features = line-numbers decorations
	whitespace-error-style = 22 reverse
[delta "decorations"]
	commit-decoration-style = bold yellow box ul
	file-style = bold yellow ul
	file-decoration-style = none
[color]
	ui = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[status]
	short = true
  branch = true
[alias]
  s = status
  sa = -c status.showUntrackedFiles=all status

# include ~/.gitconfig.local last,
# so it can take priority.
[include]
	path = ~/.gitconfig.local

