! vim: ft=xdefaults

Xft.autohint:   0
Xft.lcdfilter:  lcddefault
Xft.antialias:  true
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.rgba:       rgb
! rMBP=220
Xft.dpi:        96

! -------------------------
! dmenu
! -------------------------

dmenu.font:          xft:PragmataPro:pixelsize=18
!dmenu.foreground:    #808080
!dmenu.background:    #151515
!dmenu.selforeground: #151515
!dmenu.selbackground: #ff8939

! -------------------------
! URXVT
! -------------------------

! Look & feel
URxvt*loginShell: true
URxvt.transparent: false
URxvt.depth: 32
URxvt.scrollBar: false
URxvt.scrollBar_right: true
URxvt.scrollstyle: plain
URxvt.termName: rxvt-256color
URxvt.cursorBlink: false
URxvt.fading: 20

URxvt.inheritPixmap: false
URxvt.meta8: false
URxvt.iso14755: false
URxvt.iso14755_52: off
URxvt.perl-ext-common: default,clipboard
URxvt.clipboard.copycmd:  xsel --input  --clipboard
URxvt.clipboard.pastecmd: xsel --output --clipboard
URxvt.keysym.Control-Shift-C: perl:clipboard:copy
URxvt.keysym.Control-Shift-V: perl:clipboard:paste

!URxvt.keysym.C-Up:     perl:font-size:increase
!URxvt.keysym.C-Down:   perl:font-size:decrease
!URxvt.keysym.C-S-Up:   perl:font-size:incglobal
!URxvt.keysym.C-S-Down: perl:font-size:decglobal

! Fonts
!URxvt.letterSpace: -1
URxvt.font:\
    xft:PragmataPro:pixelsize=18,\
    xft:Monospace:pixelsize=18
URxvt.boldFont:\
    xft:PragmataPro:pixelsize=18:style=Bold,\
    xft:Monospace:pixelsize=18
URxvt.italicFont:\
    xft:PragmataPro:pixelsize=18:style=Italic,\
    xft:Monospace:pixelsize=18
URxvt.boldItalicFont:\
    xft:PragmataPro:pixelsize=18:style=Bold Italic,\
    xft:Monospace:pixelsize=18

! Match gnome-terminal "Tango" scheme
! foreground/background
URxvt.background: #000000
URxvt.foreground: #FFFFFF
! black
URxvt.color0  : #000000
URxvt.color8  : #555753
! red
URxvt.color1  : #CC0000
URxvt.color9  : #EF2929
! green
URxvt.color2  : #4E9A06
URxvt.color10 : #8AE234
! yellow
URxvt.color3  : #C4A000
URxvt.color11 : #FCE94F
! blue
URxvt.color4  : #3465A4
URxvt.color12 : #729FCF
! magenta
URxvt.color5  : #75507B
URxvt.color13 : #AD7FA8
! cyan
URxvt.color6  : #06989A
URxvt.color14 : #34E2E2
! white
URxvt.color7  : #D3D7CF
URxvt.color15 : #EEEEEC

! -------------------------
! XTERM
! -------------------------

! xterm*font: -*-fixed-medium-r-*-*-14-*-*-*-*-*-*-*
XTerm*faceName: PragmataPro
XTerm*faceSize: 10

xterm*background: #000000
xterm*foreground: #FFFFFF
! black
xterm*color0  : #000000
xterm*color8  : #555753
! red
xterm*color1  : #CC0000
xterm*color9  : #EF2929
! green
xterm*color2  : #4E9A06
xterm*color10 : #8AE234
! yellow
xterm*color3  : #C4A000
xterm*color11 : #FCE94F
! blue
xterm*color4  : #3465A4
xterm*color12 : #729FCF
! magenta
xterm*color5  : #75507B
xterm*color13 : #AD7FA8
! cyan
xterm*color6  : #06989A
xterm*color14 : #34E2E2
! white
xterm*color7  : #D3D7CF
xterm*color15 : #EEEEEC
