---
# System-wide Neovim installation

- name: Check if Neovim is already installed
  ansible.builtin.stat:
    path: /usr/local/bin/nvim
  register: nvim_installed

- name: Install Neovim
  when: not nvim_installed.stat.exists
  block:
    - name: Download Neovim
      ansible.builtin.get_url:
        url: "https://github.com/neovim/neovim/releases/download/v{{ neovim_version }}/nvim-linux-x86_64.tar.gz"
        dest: /tmp/nvim-linux-x86_64.tar.gz
        mode: '0644'

    - name: Extract and Install Neovim
      ansible.builtin.unarchive:
        src: /tmp/nvim-linux-x86_64.tar.gz
        dest: /usr/local
        remote_src: true
        extra_opts: [--strip-components=1]

    - name: Cleanup Neovim tarball
      ansible.builtin.file:
        path: /tmp/nvim-linux-x86_64.tar.gz
        state: absent
