# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-case-conflict
  - id: check-executables-have-shebangs
  - id: check-merge-conflict
  - id: detect-private-key
  - id: check-yaml
  - id: end-of-file-fixer
  - id: fix-byte-order-marker
  - id: pretty-format-json
  - id: trailing-whitespace
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.14.0
  hooks:
  - id: pretty-format-yaml
    args:
    - --autofix
    - --indent
    - '2'
- repo: https://github.com/compilerla/conventional-pre-commit
  rev: v3.4.0
  hooks:
  - id: conventional-pre-commit
    stages: [commit-msg]
ci:
  autofix_commit_msg: 'chore: pre-commit auto fixes'
  autoupdate_commit_msg: 'chore: pre-commit autoupdate'
