- name: Get login user
  ansible.builtin.command: whoami
  become: false
  changed_when: false
  register: login_user_result
  when: user is not defined

- name: Set user fact
  ansible.builtin.set_fact:
    user: "{{ user | default(login_user_result.stdout) }}"

- name: Get user info
  ansible.builtin.getent:
    database: passwd
    key: "{{ user }}"

- name: Set user_home fact
  ansible.builtin.set_fact:
    user_home: "{{ ansible_facts.getent_passwd[user][4] }}"

- name: Set ansible_async_dir for user
  ansible.builtin.set_fact:
    ansible_async_dir: "{{ user_home }}/.ansible_async"

- name: Install system packages
  ansible.builtin.apt:
    name:
      - zsh
      - bfs
    state: present

- name: Check if zsh is installed and executable
  ansible.builtin.stat:
    path: /usr/bin/zsh
  register: zsh_binary

- name: Set zsh as default shell
  ansible.builtin.user:
    name: "{{ user }}"
    shell: /usr/bin/zsh
  when:
    - zsh_binary.stat.exists and zsh_binary.stat.executable
    - ansible_facts.getent_passwd[user][5] != '/usr/bin/zsh'

- name: Create .local/bin directory
  ansible.builtin.file:
    path: "{{ user_home }}/.local/bin"
    state: directory
    mode: '0755'
  become: false
  become_user: "{{ user }}"

- name: Install uv for user
  ansible.builtin.shell: curl -LsSf https://astral.sh/uv/install.sh | sh
  args:
    creates: "{{ user_home }}/.local/bin/uv"
  become: false
  become_user: "{{ user }}"

- name: Install rustup for user
  ansible.builtin.shell: curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
  args:
    creates: "{{ user_home }}/.cargo/bin/rustup"
  become: false
  become_user: "{{ user }}"

- name: Install fzf
  ansible.builtin.shell: |
    set -e
    curl -fsSL https://github.com/junegunn/fzf/releases/download/v0.66.0/fzf-0.66.0-linux_amd64.tar.gz -o /tmp/fzf.tar.gz
    tar -xzf /tmp/fzf.tar.gz -C {{ user_home }}/.local/bin
    rm /tmp/fzf.tar.gz
  args:
    creates: "{{ user_home }}/.local/bin/fzf"
  become: false
  become_user: "{{ user }}"

- name: Install aqua
  ansible.builtin.shell: |
    set -e
    curl -fsSL https://raw.githubusercontent.com/aquaproj/aqua-installer/v4.0.2/aqua-installer -o /tmp/aqua-installer
    chmod +x /tmp/aqua-installer
    /tmp/aqua-installer
    rm /tmp/aqua-installer
  args:
    creates: "{{ user_home }}/.local/share/aquaproj-aqua/bin/aqua"
  become: false
  become_user: "{{ user }}"

- name: Install mise for user
  ansible.builtin.shell: curl https://mise.run | sh
  args:
    creates: "{{ user_home }}/.local/bin/mise"
  become: false
  become_user: "{{ user }}"

- name: Clone and setup dotfiles
  ansible.builtin.shell: |
    set -e
    git clone git@github.com:cstrahan/dotfiles.git /tmp/dotfiles-clone
    mv /tmp/dotfiles-clone/.git {{ user_home }}/.git
    cd {{ user_home }}
    git --git-dir={{ user_home }}/.git --work-tree={{ user_home }} reset --hard HEAD
    rm -rf /tmp/dotfiles-clone
  args:
    creates: "{{ user_home }}/.git"
  become: false
  become_user: "{{ user }}"

- name: Install atuin for user
  ansible.builtin.shell: curl --proto '=https' --tlsv1.2 -LsSf https://setup.atuin.sh | sh
  args:
    creates: "{{ user_home }}/.atuin/bin/atuin"
  become: false
  become_user: "{{ user }}"

- name: Install kitty terminfo
  ansible.builtin.shell: |
    set -e
    curl -fsSL https://raw.githubusercontent.com/kovidgoyal/kitty/master/terminfo/kitty.terminfo -o /tmp/kitty.terminfo
    tic -x -o /usr/share/terminfo /tmp/kitty.terminfo
    rm /tmp/kitty.terminfo
  args:
    creates: /usr/share/terminfo/x/xterm-kitty

- name: Install ghostty terminfo
  ansible.builtin.shell: |
    set -e
    cp {{ playbook_dir }}/assets/xterm-ghostty.terminfo /tmp/xterm-ghostty.terminfo
    tic -x -o /usr/share/terminfo /tmp/xterm-ghostty.terminfo
    rm /tmp/xterm-ghostty.terminfo
  args:
    creates: /usr/share/terminfo/x/xterm-ghostty

- name: Configure global aqua tools with mise
  ansible.builtin.shell: ~/.local/bin/mise use --global aqua:fd aqua:ripgrep aqua:bat aqua:delta aqua:lsd
  become: false
  become_user: "{{ user }}"
  args:
    creates: "{{ user_home }}/.config/mise/config.toml"
